<h2>Air Blast:</h2>
<aside class="crater-dimensions-aside"><a target="blank" href="craterexp#airblast">What does this mean?</a></aside>
<dl class="impact-summary-list">
    {% if opressure < 1 %}
        <dt>Effect at Location</dt>
        <dd>The air blast at this location would not be noticed. (The overpressure is less than 1 Pa)</dd>
    {% else %}
        <dt>Arrival Time</dt>
        <dd>The air blast will arrive approximately <b>{{ shock_arrival | duration }}</b> after impact.</dd>

        <dt>Peak Overpressure</dt>
        {% if distance_km * 1000.0 < 3 * altitudeBurst %}
            <dd>
                <b>{{ opressure | round(3) }} - {{ 2 * opressure | round(3) }} Pa
                    = {{ (opressure / 10**5) | round(3) }} - {{ (2 * opressure / 10**5) | round(3) }} bars
                    = {{ (opressure * 14.2 / 10**5) | round(3) }} - {{ (opressure * 14.2 / 10**5) | round(3) }} psi</b>
            </dd>
        {% else %}
            <dd>
                <b>{{ opressure | round(3) }} Pa
                    = {{ (opressure / 10**5) | round(3) }} bars
                    = {{ (opressure * 14.2 / 10**5) | round(3) }} psi</b>
            </dd>
        {% endif %}

        <dt>Maximum Wind Velocity</dt>
        <dd><strong>{{ vmax | round(3) }} m/s = {{ (vmax * 2.23694) | round(3) }} mph</strong></dd>

        <dt>Sound Intensity</dt>
        <dd>{{ dec_level | round(0) }} dB ({{ sound_description }})</dd>

        <dt>Damage Description</dt>
        <dd>
            <ul class="damage">
                {% if opressure >= 6900 %}
                    <li>Glass windows will shatter.</li>
                {% elif opressure >= 690 %}
                    <li>Glass windows may shatter.</li>
                {% endif %}

                {% if opressure >= 426000 %}
                    <li>Cars and trucks will be largely displaced and grossly distorted and will require rebuilding before use.</li>
                {% elif opressure >= 297000 %}
                    <li>Cars and trucks will be overturned and displaced, requiring major repairs.</li>
                {% endif %}

                {% if vmax >= 62 %}
                    <li>Up to 90 percent of trees blown down; remainder stripped of branches and leaves.</li>
                {% elif opressure >= 297000 %}
                    <li>About 30 percent of trees blown down; remainder have some branches and leaves blown off.</li>
                {% endif %}

                {% if opressure >= 42600 %}
                    <li>Multistory wall-bearing buildings will collapse.</li>
                {% elif opressure >= 38500 %}
                    <li>Multistory wall-bearing buildings will experience severe cracking and interior partitions will be blown down.</li>
                {% endif %}

                {% if opressure >= 26800 %}
                    <li>Wood frame buildings will almost completely collapse.</li>
                {% elif opressure >= 22900 %}
                    <li>Interior partitions of wood frame buildings will be blown down. Roof will be severely damaged.</li>
                {% endif %}

                {% if opressure >= 273000 %}
                    <li>Multistory steel-framed office-type buildings will suffer extreme frame distortion, incipient collapse.</li>
                {% endif %}

                {% if opressure >= 121000 %}
                    <li>Highway truss bridges will collapse.</li>
                {% elif opressure >= 100000 %}
                    <li>Highway truss bridges will suffer substantial distortion of lacing.</li>
                {% endif %}

                {% if opressure >= 379000 %}
                    <li>Highway girder bridges will collapse.</li>
                {% endif %}
            </ul>
        </dd>
    {% endif %}
</dl>


