<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ImpactEarth.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='impact.js') }}"></script>
</head>
<body>
    <header>
        <table COLS=2 WIDTH=100% >
        <tr>
        <td><img class="banner_image" SRC="static/imperial.png" BORDER=5></td>
        <td><img class="banner_image" align=right SRC="static/purduemark.png" BORDER=5></td>
        </tr>
        </table>
<h1 align=center><a href="http://impact.ese.ic.ac.uk">Impact: Earth!</a></h1>
<h3 align=center><a href="http://www.imperial.ac.uk/people/g.collins">Gareth Collins</a>, <a href="https://meteoritical.org/news/h-jay-melosh-1947-2020">H. Jay Melosh</a> and Robert Marcus</h3>
    </header>
    {% block content %}{% endblock %}
	<div class="discussion">
	<h3>Tell me more...</h3>	
	<p>
    Read the <a href="static/effects.pdf">Earth Impact Effects Program</a> publication
	</p>
    <p>This paper details the observations, assumptions, and equations upon 
		which this program is based.  It describes our approach to quantifying 
		the important impact processes that might affect the people, buildings, 
		and landscape in the vicinity of an impact event and discusses the 
		uncertainty in our predictions.  The processes included are:  
		atmospheric entry, impact crater formation, fireball expansion and 
		thermal radiation, ejecta deposition, seismic shaking, and the 
		propagation of the atmospheric blast wave.</p>

	<p>Recent improvements in the airblast calculation are described in
		<a target="_blank" href="http://dx.doi.org/10.1111/maps.12873">A numerical assessment of simple airblast models of impact airbursts</a>.</p>
	</div>	
    <footer>
        <p>&copy; 2023 Impact Earth</p>
    </footer>    
</body>
</html>
