{% extends "base.html" %}
{% block title %}Examples{% endblock %}
{% block content %}
<h3 class="glossary-title">Glossary</h3>

<dl class="glossary-list">
	<dt id="complex">Complex Crater</dt>
	<dd>An impact crater with relatively low depth/diameter ratio; central uplift; annular trough; and down-faulted, terraced rim 
	structure.  Central uplift can be expressed topographically as a peak and/or ring.</dd>

	<dt id="ejecta">Ejecta</dt>
	<dd>Solid, liquid, or vaporized rock ejected ballistically from an explosion or impact crater during formation. Such material may be 
	distributed around a crater in distinctive patterns, forming "ejecta rays" or "ejecta loops", as well as partially building the rim.</dd>

	<dt id="final">Final Crater</dt>
	<dd>The distance from rim to rim of the cavity once collapse has completed.</dd>

	<dt id="simple">Simple Crater</dt>
	<dd>An impact crater of relatively small diameter, characterized by a uniformly concave-upward shape and a maximum depth in the center, 
	and lacking a central uplift and rim terraces.  Simple craters differ from transient craters by the presence of a breccia lens; 
	e.g. Barringer Crater (Meteor Crater) in Coconino County, Ariz.</dd>

	<dt id="transient">Transient Crater</dt>
	<dd>The cavity formed immediately after the end of crater excavation, before it undergoes collapse and 
	modification.  Its outer extent is defined by the boundary between excavated and non-excavated (but possibly displaced) target material, and its depth is 
	the maximum achieved by material that will eventually form the floor of the true crater after cratering motions cease.  Although it is 
	by nature temporary, laboratory-derived scaling relations apply only to the diameter of the transient crater, not the final collapsed 
	crater form.  Collapse of a transient crater produces both simple and complex impact craters.</dd>
</dl>

{% endblock %}