<h2>Energy:</h2>
<dl class="impact-summary-list">
    <dt>Energy Before Atmospheric Entry</dt>
    <dd>
        {{ energy_joules | scientific | safe }} Joules
        {% set megatons = energy_joules / 4.184e15 %}
        {% if megatons < 1 %}
            = {{ (megatons * 1000) | scientific | safe }} KiloTons TNT
        {% else %}
            = {{ megatons | scientific | safe }} MegaTons TNT
        {% endif %}
    </dd>

    <dt>Average Impact Interval</dt>
    {% if rec_time_years > 1000 %}
        {% if rec_time_years < 4.5e9 %}
            <dd>
                The average interval between impacts of this size somewhere on Earth during the last 4 billion years is
                <b>{{ rec_time_years | scientific | safe }} years</b>.
            </dd>
        {% else %}
            <dd>The average interval between impacts of this size is longer than the Earth's age.</dd>
            <dd>Such impacts could only occur during the accumulation of the Earth, between 4.5 and 4 billion years ago.</dd>
        {% endif %}
    {% else %}
        {% if (rec_time_years * 12 < 1) %}
            <dd>The average interval between impacts of this size somewhere on Earth is less than 1 month.</dd>
        {% else %}
            <dd>
                The average interval between impacts of this size somewhere on Earth is
                <b>{{ "{:.1f}".format(rec_time_years) }} years.</b>
            </dd>
        {% endif %}
    {% endif %}
</dl>