{% extends "base.html" %}
{% block title %}Examples{% endblock %}
{% block content %}

<div class="examples-grid">
    <div class="example-card">
        <h3>Chelyabinsk Fireball, Russia 2013</h3>
        <dl>
            <dd>Projectile Diameter:  22 m</dd>
            <dd>Projectile Density:  rock (3300 kg/m<sup>3</sup>)</dd>
            <dd>Impact Velocity:  19 km/s</dd>
            <dd>Impact Angle:  20 degrees</dd>
            <dd>Target Type:  Sedimentary Rock</dd>
        </dl>
    </div>
    <div class="example-card">
        <h3>Meteor Crater, USA</h3>
        <dl>
            <dd>Projectile Diameter:  40 m</dd>
            <dd>Projectile Density:  iron (8000 kg/m<sup>3</sup>)</dd>
            <dd>Impact Velocity:  20 km/s</dd>
            <dd>Impact Angle:  45 degrees</dd>
            <dd>Target Type:  Sedimentary Rock</dd>
        </dl>
    </div>
    <div class="example-card">
        <h3>Tunguska Fireball, Siberia 1908</h3>
        <dl>
            <dd>Projectile Diameter:  60 m</dd>
            <dd>Projectile Density:  rock (2700 kg/m<sup>3</sup>)</dd>
            <dd>Impact Velocity:  20 km/s</dd>
            <dd>Impact Angle:  45 degrees</dd>
            <dd>Target Type:  Sedimentary Rock</dd>
        </dl>
    </div>
    <div class="example-card">
        <h3>Ries Crater, Germany</h3>
        <dl>
            <dd>Projectile Diameter:  1500 m</dd>
            <dd>Projectile Density:  rock (2700 kg/m<sup>3</sup>)</dd>
            <dd>Impact Velocity:  20 km/s</dd>
            <dd>Impact Angle:  30 degrees</dd>
            <dd>Target Type:  Crystalline Rock</dd>
        </dl>
    </div>
    <div class="example-card">
        <h3>Chesapeake Bay, USA</h3>
        <dl>
            <dd>Projectile Diameter:  2300 m</dd>
            <dd>Projectile Density:  rock (2700 kg/m<sup>3</sup>)</dd>
            <dd>Impact Velocity:  20 km/s</dd>
            <dd>Impact Angle:  45 degrees</dd>
            <dd>Target Type:  Water, depth 300 m</dd>
        </dl>
    </div>
    <div class="example-card">
        <h3>Chicxulub, Mexico</h3>
        <dl>
            <dd>Projectile Diameter:  17500 m</dd>
            <dd>Projectile Density:  rock (2700 kg/m<sup>3</sup>)</dd>
            <dd>Impact Velocity:  20 km/s</dd>
            <dd>Impact Angle:  45 degrees</dd>
            <dd>Target Type:  Water, depth 100 m</dd>
        </dl>
    </div>
</div>

{% endblock %}