{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% block content %}
    <p>Welcome to the Earth Impact Effects Program: an easy-to-use, interactive web site for estimating the regional environmental consequences of an impact on Earth.  This program will estimate the ejecta distribution, ground shaking, atmospheric blast wave, and thermal effects of an impact as well as the size of the crater produced. </p>
    
    <p>Please enter a location on Earth to impact, then enter values in the boxes below to describe your impact of choice. Select the impact effect you are interested in and then click "Display Impact Effects" to see the damage zone!</p>

    <!! Script to action when form is submitted.>
    <form action ="map">

      
      <h2 align=left>Location of Impact</h2>

	<dl class="location">
		
	<dd>
	<select name="CitySelect"  class="specificLocation" style="width: 140px;">
	  <option value="0">Select a location
    {% for location in locations %}
		<option value="{{ location.lat }},{{ location.long }}">{{ location.name }}</option>
    {% endfor %}
	</select>
	or
	<select name="CraterSelect" class="specificLocation" style="width: 140px;">
	  <option value="0">Select a crater
    {% for location in craters %}
		<option value="{{ location.lat }},{{ location.long }}">{{ location.name }}</option>
    {% endfor %}
	</select>
		<div id="map" style="width: 300px; height: 200px; border: 1px solid #ccc;"></div>
		Lat: <input type="text" name="latitude" id="latitude" size=10> 
		Long: <input type="text" name="longitude" id="longitude" size=10><br>
		<span id="latlong-error" class="error"></span>
	</dd>

		<dd>
			</dd>

		<dd>
	</dd>
		<dt><input type="checkbox" id="distanceonly" name="input_method" value="distanceonly">
		<label for="distance">Effects at distance only (no map)</label></dt>
		<dd>
	<input type="text" name="distance" size=10 disabled>
	<select name="distanceUnits" disabled>
		<option>km</option>
		<option>miles</option>
	</select>
	<span id="distance-error" class="error"></span>
	</dd>
	</dl>


      
      
      <br>
      
      <h2 align=left>Impact Parameters</h2>
      <a target="_blank" href="/examples">Impact Examples</a>
      
      <h3 align=left>Projectile Parameters</h3>
      <blockquote>
	Projectile Diameter
	<input type="text" name="diam" id="diameter" size=10>
	<select name="diameterUnits">
	  <option>m
	  <option>km
	  <option>ft
	  <option>miles
	</select>
	<select name="diameterSelect" id="diameterSelect">
		<option value="">Select a template</option>
		{% for value, label in diameter_options %}
			<option value="{{ value }}">{{ label }}</option>
		{% endfor %}
	</select>
	<span id="diameter-error" class="error"></span>

	<br>
	<p>Projectile Density (in kg/m<sup>3</sup>)
	  <input type="text" name="pdens" id="density" size=10> or
	  <select name="pdens_select" id="densitySelect">
		<option value="">Select from a list</option>
        {% for value, label in pdens_options %}
            <option value="{{ value }}">{{ label }}
        {% endfor %}
	  </select>
	  <span id="density-error" class="error"></span>
	  
      </blockquote>
      
      <h3 align=left>Impact Parameters</h3>
      <blockquote>
	Impact Velocity
	<input type="text" name="vel" id="vel" size=10>  <!-- Input for velocity (max 72 km/s)-->
	<select name="velocityUnits" id="velUnits">
	  
	  <option value="1">km/s
	  <option value="2">miles/s
	</select> or
	
	<select name="velocity_select" id="velsel" style="width: 275px;">
    	<option value="0">Select from a list
        {% for value, label in velocities %}
            <option value="{{ value }}">{{ label }}
        {% endfor %}
    </select>
	<span id="velocity-error" class="error"></span>
	<p>This is the velocity of the projectile before it enters the atmosphere.  The minimum impact velocity on Earth is 11 km/s.  Typical impact velocities are 17 km/s for asteroids and 51 km/s for comets.  The maximum Earth impact velocity for objects orbiting the sun is 72 km/s.
	  
	<p>Impact Angle (in degrees)
	<input type="text" name="theta" id="theta" size=10>
	<select name="angle_select" id="angle_select" style="width: 275px;">
	<option value="0">Select from a list
	{% for value, label in angles %}
		<option value="{{ value }}">{{ label }}
	{% endfor %}
    </select>
	<span id="angle-error" class="error"></span>
	<p>The impact angle is measured from a plane tangent to the impact surface.  This angle is 90 degrees for a vertical impact.  The most	probable angle of impact is 45 degrees.
      </blockquote>
      
      <h3 align=left>Target Parameters</h3>
	<div class="target-type">
	  <p>Target Type</p>
	  <input type="radio" name="target_type" value ="water">Water of depth:  <input type="text" name="wdepth" id="depth" size=10>
	  <select name="wdepthUnits">
	    <option>meters
	    <option>feet
	  </select>
	  <br>
	  <span id="depth-error" class="error"></span>
	  <input type="radio" name="target_type" value ="sedimentary" checked>Sedimentary Rock
	  <br>
	  <input type="radio" name="target_type" value ="crystalline">Crystalline Rock
	  <br>
	  <span id="target-error" class="error"></span>
	  </div>
          <p>
    <div align="center">
  	  <input type="submit" value="Display Impact Effects" id="submit">
	  <input type="reset" value="Reset Form">
	</div>
    </form>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-o9N1jRVv6GkF4v1zGk9MTT2VQmA1p2U5hKk9gA+0Xjk="
		crossorigin=""></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-sA+e2tF6nN1j7kwhzFZp1kQG5Qp1p5l5v0w1l5Qp1p5l="
		crossorigin=""/>
	<script src="{{ url_for('static', filename='location.js') }}"></script>			
		
{% endblock %}
