{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% block content %}
<p>

<p><h3 align=center>The <a href="ImpactEffects">Earth Impact Effects Program</a> calculates the environmental effects a given distance from an impact on Earth.


<p align=center>See all the slow-motion impacts we've performed as part of Impact Earth! below!</p>
<hr>

<div align=center><iframe title="Impact crater formation video in slow motion" width="489" height="275" src="https://www.youtube.com/embed/videoseries?list=PLCjzsLtctpLPc2c75GzDUz4vaoS6jue4e" frameborder="0" allowfullscreen></iframe></div>
</div>
<hr>
<br>

{% endblock %}
