<h2>Major Global Changes:</h2>
<dl class="impact-summary-list">
    <dt>Global State</dt>
    {% if globalstate == "destroyed" %}
        <dd>The Earth is completely disrupted by the impact and its debris forms a new asteroid belt orbiting the sun between Venus and Mars.</dd>
    {% elif globalstate == "disturbed" %}
        <dd>The Earth is strongly disturbed by the impact, but loses little mass.</dd>
    {% else %}
        <dd>The Earth is not strongly disturbed by the impact and loses negligible mass.</dd>
    {% endif %}

    {% if mratio >= 0.01 %}
        <dt>Earth Melted</dt>
        <dd><b>{{ (mratio * 100) | round(2) }}</b> percent of the Earth is melted by the impact.</dd>
    {% endif %}

    <dt>Axial Tilt Change</dt>
    {% if lratio >= 0.001 %}
        <dd>
            Depending on the direction and location of the collision,
            {% if lratio < 0.01 %}
                the impact may make a very small change in the tilt of Earth's axis (&lt; half a degree).
            {% elif lratio < 0.1 %}
                the impact may make a noticeable change in the tilt of Earth's axis (&lt; 5 degrees).
            {% elif lratio < 1.0 %}
                the impact may make a significant change in the tilt of Earth's axis.
            {% else %}
                the impact may totally change the Earth's rotation period and the tilt of its axis.
            {% endif %}
        </dd>
    {% else %}
        <dd>The impact does not make a noticeable change in the tilt of Earth's axis (&lt; 5 hundredths of a degree).</dd>
    {% endif %}

    {% if (trot_change > 1E-3) %}
        <dt>Length of Day Change</dt>
        <dd>
            Depending on the direction and location of impact, the collision may cause a change in the length of
            the day of up to <b>{{ trot_change | duration }}</b>.
        </dd>
    {% endif %}

    <dt>Orbital Shift</dt>
    <dd>
        {% if (orbit_impact == "Noticeable") %}
            The impact shifts the Earth's orbit noticeably.
        {% elif (orbit_impact == "Substantial") %}
            The impact shifts the Earth's orbit substantially.
        {% elif (orbit_impact == "Total") %}
            The impact shifts the Earth's orbit totally.
        {% else %}
            The impact does not shift the Earth's orbit noticeably.
        {% endif %}
    </dd>
</dl>

