{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block content %}
<p class="note">Please note: the results below are estimates based on current (limited) 
    understanding of the impact process and come with large uncertainties; 
    they should be used with caution, particularly in the case of peculiar 
    input parameters. All values are given to three significant figures 
    but this does not reflect the precision of the estimate. For more 
    information about the uncertainty associated with our calculations and 
    a full discussion of this program, please refer to the 
    <a href="static/effects.pdf">Earth Impact Effects Program</a> publication.</p>

    {% if distance_km == 0 %}
        <div id="map"></div>
    {% endif %}
<dl>
    <dt><h2>Your Inputs:</h2></dt>
    {% if distance_km > 0 %}
    <dd>Distance from Impact: <b>{{ distance_km }} km ( = {{ (distance_km * 0.621371) | round(2) }} miles )</b></dd>
    {% endif %}
    <dd>Projectile diameter: <b>{{ diameter_meters | distance }} )</b></dd>
    <dd>Projectile Density: <b>{{ density }} kg/m<sup>3</sup></b></dd>
    <dd>Impact Velocity: <b>{{ velocity_km_per_second }} km per second ( = {{ (velocity_km_per_second * 0.621371) | round(2) }} miles per second )</b></dd>
    <dd>Impact Angle: <b>{{ impact_angle }} degrees</b></dd>
    <dd>Target Density: <b>{{ target_density }} kg/m<sup>3</sup></b></dd>
    {% if target_type == 'water' %}
        {% if depth_meters == 0 %}
            <dd>Target Type: Ice</dd>
        {% else %}
            <dd>Target Type: Liquid water of depth <b>{{ depth_meters }} meters ( = {{ (depth_meters * 3.28084) | round(2) }} feet )</b>, over crystalline rock.</dd>
        {% endif %}
    {% elif target_type == 'sedimentary' %}
        <dd>Target Type: Sedimentary Rock</dd>
    {% else %}
        <dd>Target Type: Crystalline Rock</dd>
    {% endif %}
</dl>
    {% include "Energy.html" %}
    {% include "MajorGlobalChanges.html" %}
    {% include "AtmosphericEntry.html" %}
    {% if distance_km > 0 %}
        {% include "AirBlast.html" %}
    {% endif %}
    {% include "CraterDimensions.html" %}
<script>
    var map = L.map('map').setView([0, 0], 2);
    var airblastRadii = [
        {% for radius in airblast_radii %}
            {{ radius[0] }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    ];
    // World Imagery base layer
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);

    // Place names (labels) layer
    L.tileLayer('https://services.arcgisonline.com/ArcGIS/rest/services/Reference/World_Boundaries_and_Places/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Place names &copy; Esri'
    }).addTo(map);

    {% if location %}
    var loc = [{{ location[0] }}, {{ location[1] }}];

    L.control.scale({position: 'bottomright', offset: [0, -20] }).addTo(map);

    var marker = L.marker(loc).addTo(map);
    marker.bindPopup("Impact Location").openPopup();

    var layer_controls = {};

    var airblastLayer = add_airblast(loc, airblastRadii, map);
    layer_controls["Airblast"] = airblastLayer;

    var fireballRadii = [ {{RadiusFireball}}, {{RadiusClothingIgnition}}, {{RadiusVisibleFireball}} ];

    var fireballLayer = add_fireball(loc, fireballRadii, map);
    layer_controls["Fireball"] = fireballLayer;

    var ejectaRadii = [
        {% for radius in ejecta_radii %}
            [{{ radius[0] }},{{radius[1]}}]{% if not loop.last %}, {% endif %}
        {% endfor %}
    ];
    var ejectaLayer = add_ejecta(loc, ejectaRadii, map);
    layer_controls["Ejecta"] = ejectaLayer;

    var seismicRadii = [
        {% for radius in seismic_radii %}
            [{{ radius[0] }},{{radius[1]}}]{% if not loop.last %}, {% endif %}
        {% endfor %}
    ];   
    
    var seismicLayer = add_seismic(loc, seismicRadii, map);
    layer_controls["Seismic"] = seismicLayer;

    var tsunamiRadii = [
        {% for radius in tsunami_radii %}
            [{{ radius[0] }},{{radius[1]}}]{% if not loop.last %}, {% endif %}
        {% endfor %}
    ];   
    
    if (tsunamiRadii.length > 0)
    {
        var tsunamiLayer = add_tsunami(loc, tsunamiRadii, map);
        layer_controls["Tsunami"] = tsunamiLayer;
    }
    
    var craterRadii = [ {{CraterRadiusFinal}}, {{CraterRadiusTransient}} ];
    var craterLayer = add_crater(loc, craterRadii, map);
    layer_controls["Crater"] = craterLayer;

    airblastLayer.addTo(map);
    L.control.layers(null, layer_controls).addTo(map);

    map.setView(loc, 10);
    var allRadii = [].concat(
        airblastRadii,
        fireballRadii,
        craterRadii,
        ejectaRadii.map(r => r[0]),
        seismicRadii.map(r => r[0]),
        tsunamiRadii.map(r => r[0])
    );
    var maxRadius = Math.max.apply(null, allRadii);
    if (maxRadius > 0) {
        var circleBounds = [
            [loc[0] - maxRadius / 111.32, loc[1] - (maxRadius / (111.32 * Math.cos(loc[0] * Math.PI / 180)))],
            [loc[0] + maxRadius / 111.32, loc[1] + (maxRadius / (111.32 * Math.cos(loc[0] * Math.PI / 180)))]
        ];
        map.fitBounds(circleBounds, {padding: [20, 20]});
    }

{% endif %}
</script>
{% endblock %}
