{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block content %}
<h2>Interactive Map</h2>
<div id="map"></div>
<script>
    var map = L.map('map').setView([0, 0], 2);

    // World Imagery base layer
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);

    // Place names (labels) layer
    L.tileLayer('https://services.arcgisonline.com/ArcGIS/rest/services/Reference/World_Boundaries_and_Places/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Place names &copy; Esri'
    }).addTo(map);
    {% if location %}
    var marker = L.marker([{{ location[0] }}, {{ location[1] }}]).addTo(map);
    marker.bindPopup("Selected Location").openPopup();
    map.setView([{{ location[0] }}, {{ location[1] }}], 10);
    {% endif %}
</script>
{% endblock %}
