{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block content %}
<h2>Interactive Map</h2>
<div id="map" style="height: 500px;"></div>

<dl>
    <dt><h2>Your Inputs:</h2></dt>
    {% if distance_km > 0 %}
    <dd>Distance from Impact: <b>{{ distance_km }} meters ( = {{ (distance_km * 0.000621371) | round(2) }} miles )</b></dd>
    {% endif %}
    <dd>Projectile diameter: <b>{{ diameter_meters }} meters ( = {{ (diameter_meters * 3.28084) | round(2) }} feet )</b></dd>
    <dd>Projectile Density: <b>{{ density }} kg/m<sup>3</sup></b></dd>
    <dd>Impact Velocity: <b>{{ velocity_km_per_second }} km per second ( = {{ (velocity_km_per_second * 0.621371) | round(2) }} miles per second )</b></dd>
    <dd>Impact Angle: <b>{{ impact_angle }} degrees</b></dd>
    <dd>Target Density: <b>{{ target_density }} kg/m<sup>3</sup></b></dd>
    {% if depth != 0 %}
        <dd>Target Type: Liquid water of depth <b>{{ depth }} meters ( = {{ (depth * 3.28084) | round(2) }} feet )</b>, over crystalline rock.</dd>
    {% elif target_density == 1000 %}
        <dd>Target Type: Ice</dd>
    {% elif target_density == 2500 %}
        <dd>Target Type: Sedimentary Rock</dd>
    {% else %}
        <dd>Target Type: Crystalline Rock</dd>
    {% endif %}
</dl>
    {% include "Energy.html" %}
    {% include "MajorGlobalChanges.html" %}
    {% include "AtmosphericEntry.html" %}
    {% include "AirBlast.html" %}
<script>
    var map = L.map('map').setView([0, 0], 2);

    // World Imagery base layer
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);

    // Place names (labels) layer
    L.tileLayer('https://services.arcgisonline.com/ArcGIS/rest/services/Reference/World_Boundaries_and_Places/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Place names &copy; Esri'
    }).addTo(map);
    {% if location %}
    var marker = L.marker([{{ location[0] }}, {{ location[1] }}]).addTo(map);
    marker.bindPopup("Selected Location").openPopup();
    map.setView([{{ location[0] }}, {{ location[1] }}], 10);
    {% endif %}
</script>
{% endblock %}
